$font: 'Manrope', sans-serif;

$black: #141414;
$white: #EBEBEB;
$accent: #EB135B;
$error: #9E1C1C;
$warning: #9E9E1C;
$success: #1C9E48;
$info: #1C489E;

$black-hover: #3B3B3B;
$white-hover: #9E9E9E;
$accent-hover: #C42D60;